/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
:root {
  --main-color: #e6f0fa;
  --footer-color: #5885AF;
  --text-color: #2d2d2d;
  --table-color:whitesmoke;
}


* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: sans-serif;
  }
  
  .containerflex {
    display:flex;
    flex-flow:row wrap;
  }
  
  app-header, 
  app-body-cal,  
  app-footer {
    padding: 10px;
    margin:5px;
  }
  
  app-header {
    order:1;
    min-height:100px;
    flex:0 1 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: var(--main-color);
  }
  
  
  app-body-cal{
    order:3;
    flex: 1;
    background: var(--main-color);;
  }
  
  app-footer {
    order:5;
    min-height:80px;
    flex:0 1 100%;
    background: var(--footer-color);
  }

  @media (max-width: 768px) {
    app-header, 
    app-nav, 
    app-body-cal, 
    app-footer {
      flex: unset;
      width: 100%;
    }
  }